.App {
  text-align: center;
  /* font-family: 'Raleway'; */
  font-family: 'Futura';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #B8896E;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
}

.App-link {
  color: #61dafb;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 1.75rem;
  padding-left: 2rem;
  padding-right: 2rem;

}

.navbar.shrink {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: padding-top 0.3s, padding-bottom 0.3s, padding-left 0.3s, padding-right 0.3s;
}

.nav-link {
  text-transform: uppercase;
}

.h1-header {
  margin-left: 50px;
  font-size: 60px;

}

#welcome-text {

  display: flex;
  font-size: 88px;
  position: relative;
}

.ul-header {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li:not(:last-child) {
  margin-right: 2rem;
}

.a-header {
  color: #000000;
  text-decoration: none;
  transition: color 0.2s ease;
  padding: 1rem;
  font-size: 40px;
  margin-top: 20px;

}

.a-header:hover {
  color: #666;
}


#contact-tag {
  width: 20%;
  height: 20%;
  left: 20%;
  top: 20%;

  background: #D9D9D9;
  border-radius: 23px;
}

.li-header {
  margin: 20px;
}

.image {
  max-width: 420px;
  max-height: 500px;
  min-width: 300px;
  min-height: 300px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card {
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 500px;
  padding: 20px;

}

.card-header {
  background-color: #ffffff;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.card-header h2 {
  color: #343a40;
  font-size: 24px;
  font-weight: bold;
}

.form-group {
  margin-bottom: 20px;
}

label {
  color: #343a40;
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
textarea {
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-sizing: border-box;
  color: #495057;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

button[type="submit"] {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #0069d9;
}


#initials {
  width: 150px;
}

.bg-main {
  background-color: #B8896E;
}

.text-gray {
  color: antiquewhite
}

.hero-area {
  /* background-image: url('../src/components/images/BW.png'); */
  background-size: cover;
  background-position: center;
}

@media (max-width: 576px) {
  .hero-area {
    background-position: center;
  }

  .text-gray {
    font-size: 1.5rem;
  }

  .image {
    max-width: 100px;
    max-height: 100px;
  }

}

@media (max-width: 900px) {
  #welcome-text {
    font-size: 60px;
  }
}


.navbar-nav {
  align-items: flex-end;
}

#contact-link {
  padding-right: 2rem;
}

.container {
  position: relative;
  z-index: 2;
}

.plant-animation-left,
.plant-animation-right {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  animation-fill-mode: forwards;
  max-width: 150px;
  z-index: 1
}

.plant-animation-left {
  left: 0;
  height: 100%;
  background-image: url('./components/images/plants-left.PNG');
  animation: plantLeavesLeftGrow 5s ease-in-out forwards;
}

.plant-animation-right {
  right: 0;
  height: 100%;
  background-image: url('./components/images/plants-right.PNG');
  animation: plantLeavesRightGrow 5s ease-in-out forwards;
}

@keyframes plantLeavesLeftGrow {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes plantLeavesRightGrow {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.plant-static-left,
.plant-static-right {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 50px;
  background-repeat: no-repeat;
  background-size: cover;
}

.plant-static-left,
.plant-static-right {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 7rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.plant-static-left {
  left: 0;
  background-image: url('./components/images/plants-left.PNG');
}

.plant-static-right {
  right: 0;
  background-image: url('./components/images/plants-right.PNG');
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

p {
  font-size: 20px;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

body {
  padding-top: 4.5rem;
}

.vh-50 {
  height: 50vh;
}